<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/history.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/balances.css" type="text/css">
    <title>Checking</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <%- include('../partials/backLink') %>
            <div id="title">
                <h1>Checking</h1>
                Logged in as <%= user %>
            </div>
            <%- include('../partials/menuOptions')  %> 
        </div>
        <div id="balances">
            <div id="checkingBal">
                <div id="cBalance" class="balance">Checking balance:</div>
                <div id="cAmount" class="amount">$<%= cBalance %></div>
            </div>
            <div id="savingsBal">
                <div id="sBalance" class="balance">Savings balance:</div>
                <div id="sAmount" class="amount">$<%= sBalance %></div>
            </div>
        </div>
        <div id="main">
            <div id="tableDiv">
                <table id="table">
                    <tr>
                        <th id="actionDate">DATE</th>
                        <th id="actionDesc">DESCRIPTION</th>
                        <th id="actionAmount">AMOUNT</th>
                        <th id="newBalance">BALANCE</th>
                    </tr>
                    <% sortedTransactions = cTransactions.sort((a,b) => {let transA = a.date; let transB = b.date; transB - transA}); %> 
                    <% for(i = sortedTransactions.length - 1; i >= 0; i--){ %>
                        <tr>
                        <td id="actionDate"><%= sortedTransactions[i].date %></td>
                        <td id="actionDesc"><%= sortedTransactions[i].description %></td>
                        <% if (sortedTransactions[i].transType === 'withdrawal') { %>
                            <% let transAmount = `(-$${sortedTransactions[i].amount})` %>
                            <td id="actionAmount" style="color: firebrick;"><%= transAmount %></td>
                        <% } else { %>
                            <% let transAmount = `$${sortedTransactions[i].amount}` %>
                            <td id="actionAmount"><%= transAmount %></td>
                        <% } %>
                        <td id="newBalance"><%= `$${sortedTransactions[i].newBalance}` %></td>
                        </tr>
                    <% } %>
                </table> 
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>