<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Statement</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/pdfmake.min.js" integrity="sha256-wHsYlzQ9EnjIdWOKOlQcOIw4imM+CDwRJ6NhkvJ96iY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.62/vfs_fonts.js" integrity="sha256-UsYCHdwExTu9cZB+QgcOkNzUCTweXr5cNfRlAAtIlPY=" crossorigin="anonymous"></script>
<body>
    <div id="contents">
        <div id="info">
            <br>
            <br>
            <%= `${user.profile.name}` %> 
            <br>
            <%= `${user.address}` %> 
            <br>
            <% if (cAccount !== null) { %>
                <%= `Account Number: ${cAccount.accountNumber}` %>
            <% } else if (sAccount !== null){%>
                <%= `Account Number: ${sAccount.accountNumber}` %>
            <% } %>
            <br>
            <br>
        </div>
        <div id="list">
            <% if (transactions.length > 0) { %>
                <% transactions.forEach(item => { %>
                    <div>
                        <%= `${item.date}` %>
                        <br>
                        <%= `$${item.amount}` %>
                        <br>
                        <%= `${item.description}` %>
                    </div>
                    <br>
                <% }) %> 
            <% } else { %>
                <p>No transactions this month.</p>
            <% } %> 
        </div>
    </div>
    <script>
        const userInfo = document.querySelector('#info').innerText;
        const transList = document.querySelector('#list').innerText;
        const docDefinition = { 
            content:[
                {text:'My Bank', fontSize:20, alignment:'center', bold:true},
                {text:`${userInfo}`, fontSize:15},
                {text:`${transList}`, fontSize:10}
            ]
        };
        pdfMake.createPdf(docDefinition).open({}, window);
    </script>
</body>
</html>