<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/statements.css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/balances.css" type="text/css">
    <title>Statements</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <%- include('../partials/backLink')  %> 
            <div id="title">
                <h1>Statements</h1>
                Logged in as <%= user %>
            </div>
            <%- include('../partials/menuOptions')  %> 
        </div>
        <%- include('../partials/balanceBanners')  %> 
        <div id="main">
            <div id="mainTop">
                <div id="options">
                    <form action="/auth/statements" method="POST">
                        <div id="op1" class="option">
                            <label for="selectMonth">Select Month:</label>
                            <br>
                            <select id="selectMonth" name="selectMonth">
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div id="op2" class="option">
                            <label for="account">Select Account:</label>
                            <br>
                            <select id="account" name="account">
                                <option value="checking">Checking</option>
                                <option value="savings">Savings</option>
                            </select>
                        </div>
                        <div id="op3" class="option">
                            <button type="submit">Generate Statement</button>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../partials/statementList')  %> 
            </div>
        </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>