<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/transfer.css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/balances.css" type="text/css">
    <title>Transfer</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <%- include('../partials/backLink')  %> 
            <div id="title">
                <h1>Transfer</h1>
                Logged in as <%= user %>
            </div>
            <%- include('../partials/menuOptions')  %> 
        </div>
        <%- include('../partials/balanceBanners')  %> 
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="options">
                <form action="/auth/transfer" method="POST">
                    <div id="op1" class="option">
                        <input type="text" name="transAmount" id="transAmount" placeholder="Transfer amount">
                    </div>
                    <div id="op2" class="option">
                        <label for="transFrom">Transfer from:</label>
                        <br>
                        <select id="transFrom" name="transFrom">
                            <option value="checking">Checking</option>
                            <option value="savings">Savings</option>
                        </select>
                    </div>
                    <div id="op3" class="option">
                        <label for="transTo">Transfer to:</label>
                        <br>
                        <select id="transTo" name="transTo">
                            <option value="checking">Checking</option>
                            <option value="savings">Savings</option>
                        </select>
                    </div>
                    <div id="op4" class="option">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>