<div id="mainBottom">
    <div id="checkingList">
            <h2>Checking</h2>
                <% if (cAccount !== null) { let count = 0 %>
                <% cAccount.statements.forEach(item => { %>
                    <div class="row" id="cRow<%= count %>">
                        <div class="delete">
                            <button>
                                <a href="/auth/deleteStatement/checking/<%= item.month %>">Delete</a>
                            </button>
                        </div>
                        <div class="month">
                            <p id="cMonth<%= count %>"><%= item.month %></p>
                        </div>
                        <div class="viewBtn">
                            <button>
                                <a href="/auth/monthlyStatements/checking/<%= item.month %>" target="_blank">View</a>
                            </button>
                        </div>
                    </div>
                <% count++ }) %>
                <% } %>
            </table> 
    </div>
    <div id="savingsList">
            <h2>Savings</h2>
                <% if (sAccount !== null) {let count = 0 %>
                <% sAccount.statements.forEach(item => { %>
                        <div class="row" id="sRow<%= count %>">
                                <div class="delete">
                                    <button>
                                        <a href="/auth/deleteStatement/savings/<%= item.month %>">Delete</a>
                                    </button>
                                </div>
                                <div class="month">
                                    <p id="sMonth<%= count %>"><%= item.month %></p>
                                </div>
                                <div class="viewBtn">
                                    <button>
                                        <a href="/auth/monthlyStatements/savings/<%= item.month %>" target="_blank">View</a>
                                    </button>
                                </div>
                        </div>
                <% count++ }) %>
                <% } %>
    </div>
</div>